/* Start land */

.land {
  min-height: 100vh;
  background-image: url("../img/landBG.png");
  background-position: center center;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 768px) {
  .land {
    background-image: url("../img/littleBG.png");
  }
}
.land .logo {
  width: 7.5%;
}
.links .nav-link:hover,
.nav-link:hover {
  color: #c27e26 !important;
}
.links .cart .cartList {
  right: 0;
  color: #c27e26 !important;
  z-index: 5;
  hr {
    border: 1px solid black;
  }
}
.land .main {
  position: absolute;
  top: calc(50% + 2rem);
  transform: translateY(-50%);

  .title {
    color: #c27e26;
  }

  .text {
    font-family: "Sansita Swashed", system-ui;
    font-size: 4rem !important;
  }

  .btn {
    background-color: #c27e26;
  }
  .btn:hover {
    background-color: #a76107;
  }
}
@media screen and (max-width: 768px) {
  .land .main {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* End land */
.top-products {
  min-height: 100vh;
}
.top-products .title {
  font-family: "Sansita Swashed", system-ui;
}
.top-products .cards .card {
  color: #c27e26 !important;
  background-image: url("../img/littleBG.png");
  background-position: center center;
  background-size: cover;

  img {
    width: 100% !important;
    height: 80%;
    object-fit: cover;
  }

  .btn {
    background-color: #c27e26;
  }
  .btn:hover {
    color: white;
    background-color: #a76107;
  }
}

.hover-orange:hover {
  background-color: #c27e26;
  color: white;
  cursor: pointer;
}

/*  */
@media screen and (max-width: 768px) {
  .top-products .cards {
    flex-direction: column;
    gap: 2rem;
    .card {
      width: 100% !important;

      .card-title {
        text-align: center;
      }

      .card-text {
        flex-direction: column;

        a {
          margin-top: 1rem;
          width: 100%;
        }
      }
    }
  }

  .about-us img {
    content: url("../img/About\ us\ small.png");
  }
  .discount img {
    content: url("../img/discount-img\ small.png");
  }

  .about,
  .explore {
    text-align: center;
  }
}

.social-links a .fa-facebook-f:hover {
  color: #1877f2 !important;
  transform: scale(1.3);
}

.social-links a .fa-twitter:hover {
  color: #1da1f2 !important;
  transform: scale(1.3);
}

.social-links a .fa-instagram:hover {
  color: #e4405f !important;
  transform: scale(1.3);
}

.social-links a .fa-whatsapp:hover {
  color: #25d366 !important;
  transform: scale(1.3);
}
.explore a:hover {
  color: #c27e26 !important;
}
.restaurant-logo {
  width: 50px;
  height: 50px;
}

/* login and register */
.navbar-brand img {
  width: 50px;
}
.login,
.registration {
  background-image: url("../img/littleBG.png");
  background-position: center center;
  background-size: cover;
  position: relative;
}
.login form,
.registration form {
  max-width: 30rem !important;
}
.registration form input::placeholder,
.login form input::placeholder {
  color: #b8b0a4 !important;
}
